<template>
  <div id="pageContent" class="">
    <PageBlocks :entry="entry" />
  </div>
</template>

<script>
import GET_PAGE from "~/graphql/queries/getPage";
import PageBlocks from "~/components/PageBlocks";
// const slug = 'about-us'

export default {
  name: "Page",
  components: {
    PageBlocks,
  },
  apollo: {
    entry: {
      query: GET_PAGE,
      variables() {
        return {
          slug: this.$route.params.slug,
        };
      },
    },
  },
  data() {
    // console.log()
    return {
      entry: [],
      title: "",
    };
  },
  head() {
    return {
      title: this.entry.title,
    };
  },
};
</script>
