<template>
  <img
    v-lazy-load
    :src="asset.sm"
    class="container"
    :srcset="asset.url"
    width="960"
    height="640"
  />
</template>

<script>
export default {
  name: "ContentImage",
  props: {
    asset: {
      required: true,
      type: Object,
    },
    sizes: {
      default: "100vw",
      type: String,
    },
  },
};
</script>

<style scoped>
img:not(.isLoaded) {
  @apply opacity-25 transform translate-y-8 transition-all duration-1000;
}
.isLoaded {
  @apply opacity-100 translate-y-0 transform transition-all duration-1000;
}
</style>
