<template>
  <div class="page-links">
    <NuxtLink to="/" class="text-base p-4 font-medium text-gray-600">
      Home
    </NuxtLink>
    <NuxtLink
      v-for="page in entries"
      ref="pages"
      :key="page.id"
      :to="'/pages/' + page.slug"
      class="text-base p-4 font-medium text-gray-600"
    >
      {{ page.title }}
    </NuxtLink>
  </div>
</template>

<script>
// import craft from '~/mixins/craft'
// import gql from 'graphql-tag'
import GET_PAGES from "~/graphql/queries/getPages";

export default {
  name: "Links",
  apollo: {
    entries: {
      query: GET_PAGES,
    },
  },
  data() {
    return {
      pages: [],
    };
  },
};
</script>

<style>
.nuxt-link-exact-active {
  @apply text-black;
}
</style>
