<template>
  <div>
    <div class="mx-auto">
      <h1 class="text-center text-4xl mb-8 mt-8 font-bold">
        {{ entry.title }}
      </h1>
    </div>
    <div v-for="block in entry.blockMatrix" :key="block.id">
      <section
        v-if="block.type === 'blockMatrix_text_BlockType'"
        class="prose md:prose-lg mb-16 mx-auto max-w-xl leading-loose px-4 md:px-0"
        v-html="block.textContent"
      />
      <section
        v-if="block.type === 'blockMatrix_image_BlockType'"
        class="mb-16"
      >
        <ContentImage :key="block.imageAsset" :asset="block.imageAsset[0]" />
      </section>
      <section
        v-if="block.type === 'blockMatrix_sideBySideImages_BlockType'"
        class="mb-16 md:grid gap-4 grid-cols-1 md:grid-cols-2 xl:max-w-screen-xl mx-auto"
      >
        <ContentImage
          :id="block.imageOne[0].id"
          :key="block.imageOne.imageAsset"
          :asset="block.imageOne[0]"
          class="object-cover mb-0 md:mb-4"
        />
        <ContentImage
          :key="block.imageOne.imageAsset"
          :asset="block.imageTwo[0]"
          class="object-cover"
        />
        <p class="col-span-2 text-gray-700 px-4 md:px-0 text-sm text-center">
          {{ block.description }}
        </p>
      </section>
      <section
        v-if="block.type === 'blockMatrix_pullQuote_BlockType'"
        class="text-center my-24 px-4 xl:px-0"
      >
        <h1 class="text-gray-900 font-serif text-3xl">
          {{ block.quote }}
        </h1>
        <h2 class="text-gray-700 text-sm">
          {{ block.attribution }}
        </h2>
      </section>
    </div>
  </div>
</template>

<script>
import ContentImage from "~/components/ContentImage";
export default {
  name: "PageBlocks",
  components: {
    ContentImage,
  },
  props: {
    entry: {
      type: [Object],
      default() {
        return {
          title: "",
          blocks: [],
        };
      },
    },
  },
};
</script>
