<template>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="relative bg-white">
    <div class="bg-gray-200  mx-auto px-4 sm:px-6">
      <div
        class="flex justify-between items-center container py-6 md:justify-start md:space-x-10"
      >
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <NuxtLink to="/" class="flex flex-row items-center hover:text-blue-500">
            <Logo />
            <span class="pl-4">nuxt + craft</span>
          </NuxtLink>
        </div>
        <div class="mr-0 ml-auto -my-2 md:hidden">
          <button
            type="button"
            class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            @click="isOpen = !isOpen"
          >
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: menu -->
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
        </div>
        <nav class="md:flex space-x-10">
          <div class=" w-full">
            <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->

            <Links class="hidden md:flex" />

            <!--
    Mobile menu, show/hide based on mobile menu state.

    Entering: "duration-200 ease-out"
      From: "opacity-0 scale-95"
      To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
      From: "opacity-100 scale-100"
      To: "opacity-0 scale-95"
  -->       <transition
                enter-active-class="duration-200 ease-out"
                enter-class="opacity-0 scale-95"
                enter-to-class="opacity-100 scale-100"
                leave-active-class="duration-100 ease-in"
                leave-class="opacity-100 scale-100"
                leave-to-class="opacity-0 scale-95"
            >
            <div
              v-show="isOpen"
              class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
            >
              <div
                class="rounded-lg pb-8 px-0 shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50"
              >
                <div class="pt-5 pb-6 px-5">
                  <div class="flex items-center justify-between">
                    <div>
                      <!-- <img
                        class="h-8 w-auto"
                        src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                        alt="Workflow"
                      > -->
                    </div>
                    <div class="-mr-2">
                      <button
                        type="button"
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        @click="isOpen = !isOpen"
                      >
                        <span class="sr-only">Close menu</span>
                        <!-- Heroicon name: x -->
                        <svg
                          class="h-6 w-6"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="mt-6 px-4">
                    <nav class="grid gap-y-8">
                        <Links class="flex flex-col space-y-4" />
                    </nav>
                  </div>
                </div>
                  <div class="px-4">
                    <a
                      href="#"
                      class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
                    >
                      Sign up
                    </a>
                    <p class="mt-6 text-center text-base font-medium text-gray-500">
                      Existing customer?
                      <a href="#" class="text-indigo-600 hover:text-indigo-500">
                        Sign in
                      </a>
                    </p>
                  </div>
                </div>
              </div>
          </transition>
          </div>
          </transition>
        </nav>
      </div>
      </nav>
    </div>
  </div></nav>
  </div>
</template>

<script>
import Links from "~/components/Links";
import Logo from "~/components/Logo";

export default {
  components: {
    Links,
    Logo,
  },
  data: () => ({
    isOpen: false,
  }),
  watch: {
    $route() {
      this.isOpen = false;
    },
  },
};
</script>
