<template>
  <div>
    <PageHeader />
    <div class="min-h-screen">
      <Nuxt />
    </div>
    <Form />

    <!-- This example requires Tailwind CSS v2.0+ -->
    <footer class="bg-gray-200">
      <div
        class="max-w-7xl text-center mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8"
      >
        <Links />

        <p class="mt-8 text-center text-base text-gray-800">
          &copy; 202x MD, Inc. All rights reserved.
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
// import gql from 'graphql-tag'
import PageHeader from "~/components/PageHeader";
import Links from "~/components/Links";

export default {
  components: {
    PageHeader,
    Links,
  },
  // transition(to, from) {
  //   if (!from) {
  //     return 'slide-left'
  //   }
  //   return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
  // },
  mounted() {
    // console.log(this.$route)
    return {
      // routeName: this.$route.name,
    };
  },
};
</script>

<style scoped>
body,
html {
  overflow-x: hidden;
}

.page-enter-active,
.page-leave-active {
  transition: transform 0.5s, opacity 0.25s;
}
.page-leave-to {
  overflow: hidden;
  /* transform: translateY(10%); */
  opacity: 0;
}

.page-enter {
  overflow: hidden;
  /* transform: translateY(-10%); */
  opacity: 1;
}
</style>
