<template>
  <div class="container">
    <form
      class="max-w-sm p-8 mx-auto bg-gray-200 rounded-lg"
      name="contact"
      method="POST"
      data-netlify="true"
    >
      <label
        class="flex mb-8"
      ><span class="p-4"> Your Name: </span>
        <input
          class="p-4"
          type="text"
          name="name"
          required
        ></label>

      <label class="flex mb-8">
        <span class="p-4"> Your Email:</span>
        <input
          class="p-4"
          type="email"
          name="email"
          required
        ></label>

      <label
        class="flex mb-8"
      ><span class="p-4">Message:</span>
        <textarea class="p-4" name="message" />
      </label>

      <button
        class="px-12 py-4 text-white transition-colors duration-100 bg-blue-400 rounded-lg hover:rounded-sm hover:bg-blue-600"
        type="submit"
      >
        Send
      </button>
    </form>
  </div>
</template>
