<template>
  <div id="pageContent" class="">
    <PageBlocks :entry="entry" />
  </div>
</template>

<script>
import GET_FRONT_PAGE from "~/graphql/queries/getFrontPage";
import PageBlocks from "~/components/PageBlocks";

export default {
  name: "FrontPage",
  components: {
    PageBlocks,
  },
  apollo: {
    entry: {
      query: GET_FRONT_PAGE,
    },
  },
  data() {
    // console.log()
    return {
      entry: [],
      title: "",
    };
  },
  head() {
    return {
      title: this.entry.title,
    };
  },
};
</script>
