<template>
  <div class="container">
    <article class="container mx-auto prose lg:prose-xl px-4">
      <p>
        Pariatur minim amet consectetur qui et est cupidatat Lorem dolor commodo
        tempor. Ut amet exercitation duis laboris aliquip eu Lorem aliquip
        officia. Laboris aute enim adipisicing dolor reprehenderit proident
        aliqua
      </p>
      <p>
        Lorem elit velit pariatur voluptate nulla id. Aute ut elit amet proident
        sit nostrud anim irure proident enim quis voluptate exercitation id.
        Cupidatat quis velit aliqua laboris pariatur sint culpa in consectetur
        magna.Minim exercitation in elit excepteur. In esse tempor anim sunt
        nulla do occaecat anim ex ea sint ex adipisicing ipsum. Reprehenderit eu
        ipsum fugiat sunt dolore duis culpa voluptate veniam sunt.
      </p>
    </article>
  </div>
</template>

<script>
export default {}
</script>
