<template>
  <div class="container">
    <div class="max-w-sm p-8 mx-auto bg-gray-200 rounded-lg text-center">
      <p class="mb-8">
        We'll be in touch when we can
      </p>
      <nuxt-link class="button--grey" to="/">
        return home
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Thanks'
}
</script>
